{% extends 'adminapp/base.html' %}
{% load staticfiles %}
{% block content %}
    <h2 class="mt-4">Редактирование товара | {{ product.name }}</h2>
    <div class="card-body">
        <form action="{% url 'new_admin:admin_product_update' product.pk %}" method="post"
              enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <div class="col-lg-12" style="margin-top: 33px;">
                <input class="btn btn-info btn-block" type="submit" value="Сохранить">
            </div>
        </form>
        <div class="col-lg-12" style="margin-top: 33px;">
            <form action="{% url 'new_admin:admin_product_delete' product.id %}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger btn-block" type="submit" value="Удалить">
            </form>
        </div>
{% endblock %}